<div class="custom-container">

    <div class="product-wrapper">
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
        <div class="custom-card">
            <%= link_to user_controllers_show_path do %>
                <div class="img">
                    <%= image_tag "demo1.jpg", class: "product-img" %>
                </div>
                <div class="name-price">
                    <h3>Váy xẻ cổ cong</h3>
                    <h4>348.000đ</h4>
                </div>
                <% end %>
        </div>
    </div>
</div>
