<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title)  %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/users/header' %>
    <div class="wrapper">
      <%= render 'layouts/users/side_nav' %>
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <%= render 'users/modals/login_modal' %>
  </body>
</html>
